html,
body {
  height: 100%;
}
.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.main-wrapper {
  width: 100%;
  flex: 1 0 auto;
}
.profile-image {
  text-align: center;
  margin: 0.5em;
  border-radius: 50%;
  padding-right: 3em;
}
.photoAndFullname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.degree {
  font-size: 1em;
}
.fullname {
  text-align: center;
  width: 100%;
  font-weight: 900;
  font-size: 1.5em;
}
.global-intro {
  text-align: center;
  padding: 1em 1em;
}
.section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-bottom: rgb(0, 0, 0) solid 0.04em;
  padding: 0.25em 0.75em;
}
.section:last-of-type {
  border: none;
}
.section:first-of-type {
  padding-top: 0;
}
.section-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 700;
}
.work-experience-section-title {
  display: flex;
  font-weight: 500;
  align-items: center;
}
.work-experience-place-and-date {
  margin-left: 0.5em;
  display: flex;
  flex-direction: column;
}
.section-description {
  margin-top: 0.5em;
  text-align: justify;
}
.date {
  color: rgb(108, 131, 172);
  font-size: 0.8em;
  padding-left: 0.2em;
}
.highlight {
  font-weight: 700;
  color: #005689;
  display: inline;
}
.work-experience-logo {
  height: 4em;
  width: 4em;
  border-radius: 50%;
}
.project-logo {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  border: rgb(165, 162, 162) 0.03em solid;
}
.link {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
}
.main-section-title {
  width: 100%;
  background-color: #ffd500;
  padding-left: 0.5em;
  height: 1.8em;
  display: flex;
  align-items: center;
}
.hide {
  display: none;
}
.show {
  width: 100%;
}
.footer {
  font-weight: 800;
  flex-shrink: 0;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.font-awesome-icon {
  margin: 0.2em;
  width: 1.2em;
}
.carousel-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
